* {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 50px repeat(7, 1fr) 50px;
  grid-template-columns: 200px repeat(5, 1fr) 500px;
}

.header{
  grid-area: 1/1/2/8;
  background: #008a96;}

.logo{
  padding: 5px;}

.logout{
  padding: 5px;
  width: 80px;
  height: 40px;
  border-radius: 5px;}

.article {
  grid-area: 2/2/9/7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.menu{
  grid-area: 2/1/9/2;}

.m_title{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 5px solid #008a96;}

.m_list {
  padding: 0;
  list-style: none;}

.m_list a:before {
  content: "\2014";
  margin-right: 14px;}

.m_list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;}

.m_list a:hover {color: #008a96;}

.todo{
  grid-area: 2/7/9/8;
  padding: 5px;
  border-left: 3px solid #008a96;}

.footer{
  grid-area: 9/1/10/8;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  text-align: center;
  background: #008a96;}